<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>KeyKeyStandalone</string>
	<key>CFBundleIconFile</key>
	<string>Yahoo</string>
	<key>CFBundleIdentifier</key>
	<string>com.yahoo.inputmethod.KeyKey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Yahoo! KeyKey</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>YHOO</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Yahoo! KeyKey</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ykeykey</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.2535</string>
	<!-- Removed InputMethodKit specific keys to run as a standard app -->
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.5.0</string>
		<key>ppc</key>
		<string>10.5.0</string>
		<key>ppc64</key>
		<string>10.6.0</string>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<!-- Removed TIS / IMK related keys to avoid behavior as Input Method -->
</dict>
</plist>
